{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="section container py-5">
        <div class="card p-4 rounded shadow glass-card">
            <h2 class="display-6 fw-bold section-title">{{ About.title }}</h2>
            <p class="lead">
                {{ About.description }}
            </p>
        </div>
    </section>

    <!-- FAQ Section -->
    <section class="section container py-5">
        <div class="header text-center ">
            <h3 class="text-danger fw-bold">{% trans 'FAQ' %}</h3>
        </div>
        <p class="text-mute text-center">{% trans 'Find answers to the most frequently asked questions below.' %}</p>


        <div class="row">
            <!-- FAQ Items -->
            {% for x in FAQ %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card vision-card rounded shadow">
                        <div class="card-body text-center">
                            <i class="{{ x.icon }} fa-2x text-danger mb-3 "></i>
                            <h6 class="fw-bold {% if LANGUAGE_BIDI %}text-end{% else %}text-start{% endif %}">{{ x.title }}</h6>
                            <p class="text-mute {% if LANGUAGE_BIDI %}text-end{% else %}text-start{% endif %}">
                                {{ x.description }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- End of FAQ Section -->


{% endblock %}


{% block footer %}
    <div class="row align-items-center">
        <!-- لوگوی شرکت -->
        <div class="col-md-4 text-center mb-3 mb-md-0">
            <a href="//phoenixfamily.co">
                <img src="{{ About.logo.url }}" alt="{{ About.name }}" class="img-fluid" style="max-width: 150px;">
            </a>
        </div>

        <!-- اطلاعات تماس -->
        <div class="col-md-4 text-center mb-3 mb-md-0">
            <h6 class="mb-2">{% trans "Contact Us" %}</h6>
            <p class="mb-1">
                <i class="fas fa-phone-alt contact-icon  me-2"></i>{% trans "Phone" %}: {{ About.number }}
            </p>
            <p class="mb-0">
                <i class="fas fa-envelope contact-icon me-2"></i>{% trans "Email" %}: {{ About.email }}
            </p>
        </div>

        <!-- شبکه‌های اجتماعی -->
        <div class="col-md-4 text-center right">
            <h6 class="mb-2">{% trans "Follow Us" %}</h6>
            <div class="social-icons">
                <a href="{{ About.instagram }}" class="me-3"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="{{ About.telegram }}" class="me-3"><i class="fab fa-telegram fa-lg"></i></a>
                <a href="{{ About.whatsApp }}" class="me-3"><i class="fab fa-whatsapp fa-lg"></i></a>
                <a href="{{ About.linkedin }}"><i class="fa-brands fa-linkedin fa-lg"></i></a>
            </div>
        </div>
    </div>

{% endblock %}