{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}


    <section class="swiper-section py-5">
        <div class="container">
            <div class="login-card rounded p-4 w-100">
                <h3 class="mb-4 text-center fw-bold">{% trans "Welcome" %}</h3>
                <p class="text-center text-mute">{% trans "sign in to your account" %}</p>
                {% csrf_token %}
                <form>
                    <div class="form-outline form-white mb-4">

                        <label class="form-label" for="id_username">{% trans 'username' %}</label>

                        <input type="text" id="id_username" class="form-control form-control-lg"
                               placeholder="{% trans 'username' %}"
                               required/>
                    </div>

                    <div class="form-outline form-white mb-4 position-relative">

                        <label for="password">{% trans 'password' %}</label>

                        <input type="password" id="password" class="form-control form-control-lg px-2"
                               placeholder="{% trans 'password' %}"
                               required/>
                        <i class="fas fa-eye toggle-password" id="togglePassword"></i>
                    </div>

                    <p class="small mb-4">
                        <a href=" ">{% trans 'Forgot your password?' %}</a>
                    </p>
                    <button id="submit" class="btn btn-cta btn-lg px-5" type="submit">{% trans "Login" %}</button>
                </form>

                <p class="mt-4">{% trans "Don't have an account?" %}<a href="">{% trans "register" %}</a></p>
            </div>

        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const submit = document.getElementById('submit');
            const togglePassword = document.getElementById("togglePassword");

            togglePassword.addEventListener("click", () => {
                const passwordField = document.getElementById("password");
                const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
                passwordField.setAttribute("type", type);
                togglePassword.classList.toggle("fa-eye-slash");
            });

            submit.addEventListener("click", async (e) => {
                e.preventDefault();
                const username = '+98' + document.getElementById("number").value;
                const password = document.getElementById("password").value;

                const response = await fetch("", {
                    method: "POST",
                    headers: {'Content-Type': "application/json"},
                    body: JSON.stringify({username, password})
                });

                if (response.ok) {
                    const userData = await response.json();
                    if (userData.user.is_staff)
                        location.assign(`/user/home/manager/${userData.user.id}/`);
                    else if (userData.user.is_superuser)
                        location.assign(`/user/home/admin/${userData.user.id}/`);
                    else if (userData.user.is_teacher)
                        location.assign(`/user/home/teacher/${userData.user.id}/`);
                    else
                        location.assign(`/user/home/user/${userData.user.id}/`);
                } else {
                    const error = await response.json();
                    alert(error.error || "ورود ناموفق. لطفاً دوباره تلاش کنید.");
                }
            });
        });
    </script>



{% endblock %}


{% block footer %}
    <div class="row align-items-center">
        <!-- لوگوی شرکت -->
        <div class="col-md-4 text-center mb-3 mb-md-0">
            <a href="//phoenixfamily.co">
                <img src="{{ About.logo.url }}" alt="{{ About.name }}" class="img-fluid" style="max-width: 150px;">
            </a>
        </div>

        <!-- اطلاعات تماس -->
        <div class="col-md-4 text-center mb-3 mb-md-0">
            <h6 class="mb-2">{% trans "Contact Us" %}</h6>
            <p class="mb-1">
                <i class="fas fa-phone-alt contact-icon  me-2"></i>{% trans "Phone" %}: {{ About.number }}
            </p>
            <p class="mb-0">
                <i class="fas fa-envelope contact-icon me-2"></i>{% trans "Email" %}: {{ About.email }}
            </p>
        </div>

        <!-- شبکه‌های اجتماعی -->
        <div class="col-md-4 text-center right">
            <h6 class="mb-2">{% trans "Follow Us" %}</h6>
            <div class="social-icons">
                <a href="{{ About.instagram }}" class="me-3"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="{{ About.telegram }}" class="me-3"><i class="fab fa-telegram fa-lg"></i></a>
                <a href="{{ About.whatsApp }}" class="me-3"><i class="fab fa-whatsapp fa-lg"></i></a>
                <a href="{{ About.linkedin }}"><i class="fa-brands fa-linkedin fa-lg"></i></a>
            </div>
        </div>
    </div>

{% endblock %}