{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
</head>

<body>

{% block header %}
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link " href="{% url 'home:home-view' %}">{% trans "Home" %}</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button"
               aria-expanded="false">{% trans "Products" %}</a>
            <ul class="dropdown-menu">
                {% for x in Products %}
                    <li><a class="dropdown-item" href="{% url 'products:product-view' x.id %}">{{ x.name|capfirst }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contact:contact-view' %}">{% trans "Contact Us" %}</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'about:about-view' %}">{% trans "About Us" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'blogs:blog-view' %}">{% trans "Blogs" %}</a></li>
    </ul>
    <!-- دکمه تغییر تم -->
    <div class="ms-3 d-flex align-items-center">
        <i class="fas fa-sun" id="sun-icon"></i>
        <div class="ms-2 form-check form-switch">
            <label for="theme-switch"></label>
            <input class="form-check-input" type="checkbox" role="switch" id="theme-switch"
                   aria-label="Toggle theme"/>
        </div>
        <i class="fas fa-moon" id="moon-icon"></i>
    </div>

    <!-- فرم تغییر زبان -->
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <label>
            <select name="language" class="form-select form-select-sm w-auto"
                    onchange="this.form.submit()" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                            selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
        </label>
    </form>

{% endblock %}


{% block content %}

    <section class="section container-fluid py-3">

        <div class="row align-items-center align-items-stretch">
            <!-- ویدیو -->
            <div class="col-12 col-lg-6 d-flex justify-content-center position-relative">
                <div class="video-container">
                    <button id="play-btn" class="play-button">
                        <i class="fa-solid fa-play" style="color: #ffffff;"></i>
                    </button>
                    <video id="brand-video" class="brand-video" poster="{{ Item.image.url }}" width="100%">
                        <source src="{{ Item.video.url }}" type="video/mp4">
                        {% trans 'Your browser does not support this format.' %}
                    </video>
                </div>
            </div>

            <!-- متن با افکت Glassmorphism -->
            <div class="col-12 col-lg-6 {% if LANGUAGE_BIDI %}text-end{% else %}text-start{% endif %}">
                <div class="card p-4 rounded shadow glass-card ">
                    <h2 class="display-6 fw-bold section-title">{{ Item.title }}</h2>
                    <p class="lead">{{ Item.content }}</p>
                    <hr style="height: 2px">
                    <h3 class="mb-1">{% trans 'Key Features:' %}</h3>
                    {% for x in Features %}
                        <h5 class="mt-1">{{ forloop.counter }}-{{ x.title }}</h5>
                        <p class="lead">{{ x.description }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

    </section>


    <section class="section container-fluid py-5">
        <div class="card p-4 rounded shadow glass-card">
            <h2 class="display-6 fw-bold section-title">{{ Item.header }}</h2>
            <p class="lead">
                {{ Item.description }}
            </p>
        </div>
    </section>


    <!-- CTA Section -->
    <section class="container my-5 text-center">
        <h2>{% trans 'Are you ready to start?' %}</h2>
        <a href="{{ Item.address }}" class="btn btn-lg">{% trans 'Go to Crime' %}</a>
    </section>


    <script>
        document.getElementById('play-btn').addEventListener('click', function () {
            let video = document.getElementById('brand-video');
            video.play();
            this.style.display = 'none';  // پنهان کردن دکمه پخش پس از کلیک
        });

    </script>
{% endblock %}

{% block footer %}
    <div class="row align-items-center">
        <!-- لوگوی شرکت -->
        <div class="col-md-4 text-center mb-3 mb-md-0">
            <a href="//phoenixfamily.co">
                <img src="{{ About.logo.url }}" alt="{{ About.name }}" class="img-fluid"
                     style="max-width: 150px;">
            </a>
        </div>

        <!-- اطلاعات تماس -->
        <div class="col-md-4 text-center mb-3 mb-md-0">
            <h6 class="mb-2">{% trans "Contact Us" %}</h6>
            <p class="mb-1">
                <i class="fas fa-phone-alt contact-icon  me-2"></i>{% trans "Phone" %}: {{ About.number }}
            </p>
            <p class="mb-0">
                <i class="fas fa-envelope contact-icon me-2"></i>{% trans "Email" %}: {{ About.email }}
            </p>
        </div>

        <!-- شبکه‌های اجتماعی -->
        <div class="col-md-4 text-center right">
            <h6 class="mb-2">{% trans "Follow Us" %}</h6>
            <div class="social-icons">
                <a href="{{ About.instagram }}" class="me-3"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="{{ About.telegram }}" class="me-3"><i class="fab fa-telegram fa-lg"></i></a>
                <a href="{{ About.whatsApp }}" class="me-3"><i class="fab fa-whatsapp fa-lg"></i></a>
                <a href="{{ About.linkedin }}"><i class="fa-brands fa-linkedin fa-lg"></i></a>
            </div>
        </div>
    </div>

{% endblock %}

</body>
</html>
